Django
asgiref
sqlparse
tzdata

python-dotenv
requests
pillow

cloudinary
django-cloudinary-storage
psycopg2-binary

mysqlclient
PyMySQL
mysql-connector-python

langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-google-vertexai
langchain-text-splitters
langgraph

openai
groq
huggingface-hub
google-genai

chromadb
onnxruntime

pinecone
pinecone-plugin-interface

numpy
pydantic
fsspec
tenacity

coloredlogs
tqdm

